<div class="ui container">
  <form #todoForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="ui action input fluid">
      <input type="text" name="todo" [(ngModel)]="todo" placeholder="Enter todo description here">
      <button type="submit" class="ui icon button" [disabled]="todoForm.pristine || !todo">
        <i class="arrow circle right icon"></i>
      </button>
    </div>
    <div class="ui divider"></div>
    <div class="ui container">
      <div *ngFor="let todo of getFilteredTodos()" class="todo-list" [ngClass]="{'completed': todo.completed}">
        <div class="ui segment flex full">
          <input #description type="text" class="todo-description plain-text" (input)="todo.desc = description.value "
            value={{todo.desc}} [disabled]="todo.completed">
          <label>
            <i class="icon cursor-pointer" [ngClass]="{'check': todo.completed, 'square outline': !todo.completed}"></i>
            <input class="hidden" #check type="checkbox" (change)="todo.completed = check.checked "
              [checked]="todo.completed">
          </label>
          <i class="times circle icon delete-icon" (click)="deleteTodo(todo.id)"></i>
        </div>
      </div>
      <footer class="todo-footer">
        <div class="filters">
          Filters:
          <label class="link" [ngClass]="{'active-filter': filter === 'all'}"><input class="hidden" type="radio" name="filter" [(ngModel)]="filter" value="all">
            All
          </label>
          <label class="link" [ngClass]="{'active-filter': filter === 'completed'}"><input class="hidden" type="radio" name="filter" [(ngModel)]="filter" value="completed">
            Completed
          </label>
          <label class="link" [ngClass]="{'active-filter': filter === 'pending'}"><input class="hidden" type="radio" name="filter" [(ngModel)]="filter" value="pending">
            Pending
          </label>
        </div>
        <div class="footer-right">
          <div *ngIf="getIncompleteTodoCount()" class="incomplete-todo-count-status">{{getIncompleteTodoCount()}} left.</div>
          <div class="delete-completed-btn"><i class="times circle icon delete-icon" (click)="deleteAllCompleted()"></i></div>
        </div>
      </footer>
    </div>
  </form>
</div>